<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="jumbotron main_box">
        <div class="custom-badge custom-badge-h1">
          <h1 class="display-3">Approve-A-Loan</h1>
        </div>
        <%= hidden_field_tag 'verdict', @log.verdict %>
        <%= hidden_field_tag 'confidence', @confidence %>
        <div class="custom-badge custom-badge-dark">
          Analysis of a <b><%= @log.loan_purpose.downcase %></b> loan for <b><%= @log.name %></b>
        </div>
        <br>
        <center>
          <div id="ring"></div>
        </center>
        <div class="row" style="margin: 10px;">
          <div class="col-sm-1">
            <%= button_to "New", new_profile_path, method: :get, class: "btn btn-success", style: "width: 5em;" %>
          </div>
          <div class="col-sm-1">
            <%= button_to "Save", profiles_path, method: :get, params: { id: @log.id }, class: "btn btn-primary", style: "width: 5em;" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<script type="text/javascript">
   <%= render file: "#{Rails.root}/app/views/profiles/js/ring-display.erb.js" %>
</script>
