<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="jumbotron main_box">
        <%= link_to profiles_path do %>
          <div class="custom-badge custom-badge-h1">
            <h1 class="display-3">Approve-A-Loan</h1>
          </div>
        <% end %>
        <%= hidden_field_tag 'verdict', @log.verdict %>
        <%= hidden_field_tag 'confidence', @confidence %>
        <div class="custom-badge custom-badge-dark">
          Analysis of a <b><%= @log.loan_purpose.downcase %></b> loan for <b><%= @log.name %></b>
        </div>
        <br>
        <center>
          <div id="ring"></div>
        </center>
        <div style="margin: 10px;">
          <div style="float:left; margin-right: 7px;">
            <%= button_to "New", new_profile_path, method: :get, class: "btn btn-success" %>
          </div>
          <div style="float:left; margin-right: 7px;">
            <%= button_to "Save", save_profiles_path, method: :post, params: { id: @log.id }, class: "btn btn-primary" %>
          </div>
          <div style="float:left;">
            <%= button_to "Back", profiles_path, method: :get, class: "btn btn-danger" %>
          </div>
          <div style="clear:both;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<script type="text/javascript">
   <%= render file: "#{Rails.root}/app/views/profiles/js/ring-display.erb.js" %>
</script>
