<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="jumbotron main_box">
        <%= link_to profiles_path do %>
          <div class="custom-badge custom-badge-h1">
            <h1 class="display-3">Approve-A-Loan</h1>
          </div>
        <% end %>

        <% if flash[:error] %>
          <div class="custom-badge custom-badge-error">
            <%= flash[:error] %>
          </div>
        <% elsif flash[:saved] %>
          <div class="custom-badge custom-badge-save">
            <%= flash[:saved] %>
          </div>
        <% end %>

        <table class="table table-striped table-format" style="">
            <thead>
              <tr>
                <th>#</th>
                <th>Applicant's name</th>
                <th>Phone</th>
                <th>Loan purpose</th>
                <th>Amount</th>
                <th>Duration in months</th>
                <th>Verdict</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @logs.each do |log| %>
                <tr>
                  <td><%= log.id %></td>
                  <td><%= log.name %></td>
                  <td><%= log.phone %></td>
                  <td><%= log.loan_purpose %></td>
                  <td><%= number_to_currency(log.loan_amount, unit: "", precision: 2) %> <%= log.currency %></td>
                  <td><%= log.loan_duration_months %></td>
                  <td>
                    <span class="badge verdict-<%= log.verdict == "approved" ? "success" : "danger" %>">
                      <%= log.verdict.capitalize %>
                    </span>
                  </td>
                  <td>
                    <%= link_to print_profiles_path(id: log.id), method: :get, target: :_blank do %>
                      <%= fa_icon 'print', class: "fa-lg", style: "color: #07575B;"%>
                    <% end %>
                    <%= link_to delete_profiles_path(id: log.id), method: :post, data: { confirm: "Are you sure?" } do %>
                      <%= fa_icon 'trash', class: "fa-lg", style: "color: #c0392b;" %>
                    <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <center>
            <div class="custom-badge custom-badge-white">
              <b>Total money loaned out:</b> <%= StatsHelper.sum_of_loans %>
            </div>
          </center>
          <div style="margin: 10px;">
            <div style="float:left; margin-right: 7px;">
              <%= button_to "New", new_profile_path, method: :get, class: "btn btn-success" %>
            </div>
            <div style="float:left;">
              <%= button_to "Register for API", new_api_user_path, method: :get, class: "btn btn-warning" %>
            </div>
            <div style="clear:both;">
            </div>
          </div>
      </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
