<div class="container">
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :expiry, "API access length" %><br>
      <%= f.select :expiry, ApiUser::EXPIRY_DATES, {}, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Register", class: "btn btn-primary" %>
  </div>
</div>
